<%= bootstrap_form_for @link do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :link, help: "Must be a valid link" %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.submit "Submit", class: "btn btn-success" %>
    </div>
  </div>
<% end %>