<div class="container">
    <div class="col-md-offset-3 col-md-6">
      <div class="row well">
        <h2 align='center'>Edit a Link</h2>
        <%= render partial: 'edit_form' %>
      </div>
    </div>
</div>